<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neuyu.love.wind">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".application.NeuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${application_name}">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowFullscreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>